<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Edit a Quote</legend>
                        <!-- this is quote ID -->
                        <div class="form-group">
                            <div class="col-md-8">
                                <label for="quote_id">Quote No: {{quote.quoteId}} </label>
                            </div>
                        </div>
                        <!-- This is the name -->
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon" alt="name">
                                    We need to know who you are, so we can help you.</i>
                            </span>
                            <div class="col-md-8">
                                <!-- <label for="quote_name">Your Full Name</label> -->
                                <input id="quote_name" name="quote_name" type="text" class="form-control"
                                    placeholder="Your Full Name" value="{{quote.name}}">
                            </div>
                        </div>

                        <!-- this is the email     -->
                        <div class=" form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon">
                                    Please enter your email so we can reply to you</i></span>
                            <div class="col-md-8">
                                <input id="quote_name" name="quote_name" type="text" class="form-control"
                                    class="validate" value=" {{quote.email}}">
                                <!-- <label for="quote_name">Your email</label> -->
                            </div>
                        </div>
                        <!-- this is the phone -->
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon">
                                    Please enter your phone so we can contact you
                                </i></span>
                            <div class="col-md-8">
                                <input id="quote_name" name="quote_name" type="text" class="form-control"
                                    class="validate" placeholder="Your Phone Number" value="{{quote.phone}}">
                            </div>
                        </div>

                        <!-- This is the brief     -->
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon">
                                    Describe your project</i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="quote_brief" name="quote_brief"
                                    value="{{quote.brief}}"
                                    placeholder="Enter the details of your project here. We will get back to you within 2 business days."
                                    rows="7">
                                </textarea>
                            </div>
                        </div>

                        <!-- Submit the form time -->
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

