{% extends 'base.html'%}
{% include "hero-backimage.html" %}


<!-- This file add status, will make this a modal -->

<div></div>
{% block content %}
<h3>Add status</h3>
<form action="{{ url_for('insert_status') }}" method="POST" class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <label for="quote_status">Enter Quote Name</label>
            <input id="quote_status" name="quote_status" type="text" class="validate">

        </div>
    </div>
    <div class="row">
        <button type="submit" name="action">Add Status</button>
    </div>
</form>
{% endblock %}