{% extends 'base.html'%}
{% include "hero-backimage.html" %}

<!-- This file add status currently uses cards, plan to make this a modal -->
{% block content %}
<div class="container wow ">

    <div class="card">
        <!-- <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap"> -->
        <form action="{{ url_for('insert_status') }}" method="POST" class="col s12">
            <div class="card-body">
                <h4 class="card-title">Add Status</h4>
                <p class="card-text">
                    <label for="quote_status">Enter Quote Name</label>
                    <input id="quote_status" name="quote_status" type="text" class="validate">
                </p>
                <button type="submit" class="btn btn-primary" name="action">Add Status</button>

            </div>
    </div>
</div>

{% endblock %}