{% extends 'base.html'%}
{% include "hero-backimage.html" %}
{% block content %}
<div class="container wow ">
    <div class="row">
        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Edit Status</h4>
                <p class="card-text">
                    <form action="{{ url_for('update_status', status_id=status._id) }}" method="POST">
                        <label for="quote_status">Enter New Status</label>
                        <input id="quote_status" name="quote_status" type="text" class="validate"
                            value="{{status.quote_status|upper}}">
                        <!-- I want to make sure the status is always upper case -->
                        <!-- I pass back an upper case value but it would be better to have it done in the py -->
                        <button type="submit" class="btn btn-primary" name="action">Update</button>
                    </form>
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}