{% extends 'base.html'%}

{% block content %}


<div class="container">
    <h3>Edit Quote</h3>
    <form action="{{ url_for('update_quote', quote_id=quote._id) }}" method="POST">
        <div class="form-group">
            <label for="quote_id">Quote No: {{quote.quoteId}} id= </label>
        </div>
        <!-- this is quote ID -->
        <div class="form-group">
            <select id="status" name="quote_status">
                <!-- List all the status passed through in the statuses variable -->
                {% for status in statuses %}
                <option value="{{status.quote_status}}" {% if status.quote_status == quote.quoteStatus %}
                    selected{% endif %}>
                    {{status.quote_status}}</option>
                {% endfor %}
            </select>
            <label>Quote status</label>
        </div>
        <!-- This is the name -->
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    We need to know who you are, so we can help you.</i>
            </span>
            <!-- <label for="quote_name">Your Full Name</label> -->
            <input id="quote_name" name="quote_name" type="text" class="form-control" placeholder="Your Full Name"
                value="{{quote.name}}">
        </div>
        <!-- this is the email     -->
        <div class=" form-group">
            <span><i class="fa fa-envelope-o bigicon">
                    Please enter your email so we can reply to you</i></span>
            <input id="quote_email" name="quote_email" type="text" class="form-control" placeholder="Your email address"
                value="{{quote.email}}">
            <!-- <label for="quote_name">Your email</label> -->
        </div>
        <!-- this is the phone -->
        <div class="form-group">
            <span><i class="fa fa-phone-square bigicon">
                    Please enter your phone so we can contact you
                </i></span>
            <input id="quote_phone" name="quote_phone" type="text" class="form-control" placeholder="Your Phone Number"
                value="{{quote.phone}}">
        </div>
        <!-- Quality,  cost and Time values -->
        <div class="form-group">
            <span>Rank your Quality</span>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <input type='radio' name="quote_rankquality1" id="quote_rankquality" value="{{quote.rankQuality}}" />
            <label for='quote_rankquality1'>Low Quality</label>
            <input type='radio' name="quote_rankquality" id="quote_rankquality" value="{{quote.rankQuality}}"
                checked='true' />
            <label for='id=quote_rankquality2'>Medium Quality</label>
            <input type='radio' name="quote_rankquality" id="quote_rankquality" value="{{quote.rankQuality}}" />
            <label for='quote_rankquality3'>High Quality</label>
            <script>
                $(function () {
                    $(" input[name=radgroup]:checked").click(function () {
                        var state = $(this).val();
                        // do action depending on state
                    });
                });
            </script>
        </div>
        <div class="form-group"> <input id="quote_rankquality" name="quote_rankquality" type="text" class="form-control"
                placeholder="Rank your expected time level" value="{{quote.rankQuality}}"></div>
        <div class="form-group"> <input id="quote_rankcost" name="quote_rankcost" type="text" class="form-control"
                placeholder="Rank your expected Cost level" value="{{quote.rankCost}}"></div>
        <!-- Level of Quality required -->
        <div class="form-group"> <input id="quote_expectedquality" name="quote_expectedquality" type="text"
                class="form-control" placeholder="YourLevel of Quality" value="{{quote.levelQuality}}"></div>
        <!-- This is the project brief in a text area-->
        <div class="form-group">
            <textarea name="quote_brief" id="quote_brief" class="form-control"
                placeholder="Enter the details of your project here. We will get back to you within 2 business days."
                rows="7">{{quote.brief}}</textarea>
            <label for="quote_description">Quote Brief</label>
        </div>
        <!-- Expected and Go Live date -->
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i>
                <input id="quote_expecteddate" name="quote_expecteddate" type="date" class="form-control"
                    placeholder="Your Expected Libe Date" value="{{quote.expectedDate}}"></div>
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i><input id="quote_livedate" name="quote_livedate" type="date" class="form-control"
                    placeholder="Your Expected Delivery Date" value="{{quote.liveDate}}"></div>
        <!-- Budget for the project -->
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_budget " name="quote_budget " type="text" class="form-control"
                    placeholder="Your Budget" value="{{quote.budget}}"></div>
        <!-- choices here for tech types -->
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i><input id="quote_typedev" name="quote_typedev" type="text" class="form-control"
                    placeholder="The Type of Development required" value="{{quote.typeDev}}"></div>
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_tech" name="quote_tech" type="text" class="form-control"
                    placeholder="Technololy" value="{{quote.tech}}"></div>
        <!-- ststus same as top -->
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_quotestatus" name="quote_quotestatus" type="text"
                    class="form-control" placeholder="The Status of the Quote" value="{{quote.quoteStatus}}"></div>
        <!-- Admin features -->
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_details" name="quote_details" type="text" class="form-control"
                    placeholder="Our Detailed Response to the Customers Brief" value="{{quote.quoteDetails}}"></div>
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_response" name="quote_response" type="text" class="form-control"
                    placeholder="Our Detailed Response to the Customers " value="{{quote.quoteResponse}}"></div>
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_person" name="quote_person" type="text" class="form-control"
                    placeholder="Our Person assigned to this project" value="{{quote.assignedTo}}"></div>
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i><input id="quote_cost" name="quote_cost" type="text" class="form-control"
                    placeholder="Our Detailed costings to the Customers Brief" value="{{quote.quoteCost}}"></div>
        <div class="form-group">
            <span><i class="fa fa-user bigicon" alt="name">
                    enter text.</i> <input id="quote_needs" name="quote_needs" type="text" class="form-control"
                    placeholder="Our List of  resources needed" value="{{quote.quoteNeeds}}"></div>
        <!-- what the check for -->
        <div class="checkbox">
            <label>
                <input type="checkbox" id="yesno"> Accept GDPR
            </label>
        </div>


        <button type="submit" name="action" class="btn btn-info">Submit Information
        </button>


    </form>
</div>


{% endblock %}