    <!--==========================
          Facts Section
        ============================-->
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Tech Facts
                </h3>
                <p class="section-description">Its hard to stay on top these days, heres the
                    <a href="https://www.codingdojo.com/blog/10-useful-facts-about-full-stack-development"
                        target="_blank"> low down </a>on whats happening.
                </p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">198</span>
                    <p>Web Dev. % <a href="http://blog.indeed.com/2018/03/15/best-jobs-united-states/" target="_blank">
                            Job growth</a>
                    </p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">2008</span>
                    <p>Full Stack Dev. orignated</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">19</span>
                    <p>Types of <a href="https://www.coderhood.com/19-types-of-developers-explained/"
                            target="_blank">developers</a></p>

                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">710</span>
                    <p>Global <a href="https://en.wikipedia.org/wiki/List_of_programming_languages" target="_blank">
                            Coding Languages</a>
                    </p>

                </div>

            </div>

        </div>
    </section><!-- #facts -->