{% extends 'base.html'%}
{% block content %}

<!-- This lists the list of Statuses available in a list, maybe put into a dropdown later? -->
<p>
    {% if status %}
    <div class="alert alert-success">
        {% if statuses %}
        <p>Please select the Quote Status</p>
        <ul>
            {% for status in statuses %}
            <li><a href="/get_quotes/{{status.quote_status}}">{{status.quote_status}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
</p>

<div class="row">

    <ul>
        {% for quote in quotes %}
        <!-- this is where I can later add a sort by status -->
        {% if (quote.quoteStatus ==status) or (status =="ALL") %}
        <li>
            <div>
                <div>
                    <form action="{{url_for('delete_quote', quote_id=quote._id)}}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <!-- Calls edit quote function passing in the unique quoteid -->
                    <a href="{{url_for('edit_quote', quote_id=quote._id)}}">Edit Quote</a>
                </div>
                <div>
                    <strong>{{quote.quoteStatus}}</strong>
                    <!-- outputs name and live date to screen -->
                    <strong>{{quote.name}}</strong> - {{quote.liveDate}}
                </div>

                <!-- the brief can be later enclosed in a accordian  -->
                <div>{{quote.brief}}</div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}