{% extends 'base.html' %}
{% block content %}
<main id="main">
    {% include "hero-backimage.html" %}
    <!--==========================
          Portfolio member Section
        ============================-->
    <section id="portfolio">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">{{member.tech}}</h3>
                <p class="section-description">We are the best {{ member.name }} developers, so get in contact.</p>
            </div>
            <!-- Filter declarations -->
            <div class="row">
                <div class="col-md-6">
                    <img src="../{{member.image}}" alt="Profile image for {{member.name}}" />
                </div>

                <div class="col-md-6">
                    <p>
                        {{ member.description }}
                    </p>
                </div>
            </div>
        </div>
    </section><!-- #portfolio -->
</main>

{% include "cta.html" %}
{% include "footer.html" %}
{% endblock %}