<!--==========================
       Nav
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- <a href="#hero"><img src="{{ url_for('static', filename='img/logo.png')}}" alt="Ciarans CRM System" title="" /></img></a> -->
            <!-- Uncomment below if you prefer to use a text logo -->
            <h3><a href="#hero">FullStack</a></h3>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/#hero">Home</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="{{url_for('tech')}}">Tech Portfolio</a></li>
                <li class="menu-has-children"><a href="/">Get A Quote</a>
                    <ul>
                        <li><a href="{{url_for('add_quote')}}">New Quote</a></li>
                        <li><a href="{{ url_for('view_quote') }}">View your Quote</a></li>
                        <li class="menu-has-children"><a href="/#">Quote Admin</a>
                            <ul>
                                <li><a href="{{ url_for('get_quotes')}}">View all Quote</a></li>
                                <li><a href="{{ url_for('get_quotes') }}">Change a Quote</a></li>
                                <li><a href="{{url_for('get_status')}}">Manage Status</a></li>
                            </ul>

                    </ul>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->