<!--==========================
      Header Nav
      ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">

        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/#hero">Home</a></li>

                <li><a href="{{url_for('get_quotes')}}">Quotes</a></li>
                <li><a href="{{url_for('add_task')}}">New Quotes</a></li>
                <li><a href="{{url_for('get_status')}}">Manage Status</a></li>

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
<div style="background-color: rgba(52, 59, 64, 0.9);; min-height:72px;">
</div>