<!--==========================
      Header Nav
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- <a href="#hero"><img src="{{ url_for('static', filename='img/logo.png')}}" alt="Ciarans CRM System" title="" /></img></a> -->
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="#hero">FullStack</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/#hero">Home</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#portfolio">Tech Portfolio</a></li>
                <li><a href="{{url_for('add_quote')}}">New Quote</a></li>
                <li class="menu-has-children"><a href="/">Quote Admin</a>
                    <ul>
                        <li><a href="{{ url_for('get_quotes')}}">View all Quote</a></li>
                        <li><a href="{{ url_for('edit_quote') }}">Change a Quote</a></li>
                        <li><a href="{{url_for('get_status')}}">Manage Status</a></li>
                        <li class="menu-has-children"><a href="/#">Full Stack
                                Dev</a>
                            <ul>
                                <li><a href="{{ url_for('tech') }}">tech we do </a></li>
                                <li><a href="#">Front-end Technologies</a></li>
                                <li><a href="#">Backend Technologies</a></li>
                                <li><a href="#">Version Control</a></li>
                                <li><a
                                        href="https://codeburst.io/the-toolkit-of-a-full-stack-javascript-developer-a15ebe762f75">Deployment</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a href=" {{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->