{% extends 'base.html' %}
{% block content %}
<main id="main">
    {% include "hero-backimage.html" %}
    <!--==========================
          Portfolio Section
        ============================-->
    <section id="portfolio">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2 class="section-title">{{page_heading}}</h2>
                <h3 class="section-description">{{ page_title }}, This is the Tech we work with: </h3>

            </div>
            <!-- Filter declarations -->
            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter=".filter-front, .filter-back, .filter-data, .filter-api, .filter-deploy "
                            class="filter-active">All
                        </li>
                        <li data-filter=".filter-front">Front End</li>
                        <li data-filter=".filter-back">Back End</li>
                        <li data-filter=".filter-data">Databases</li>
                        <li data-filter=".filter-api">API & SERVICES</li>
                        <li data-filter=".filter-deploy">DEPLOYMENT</li>
                    </ul>
                </div>
            </div>
            <!-- Show json data in filter classes -->
            <div class="row" id="portfolio-wrapper">
                {% for member in staticMage %}
                <!-- start of  portfolio -->
                <div class="col-lg-3 col-md-6 portfolio-item {{member.datafilter}}">
                    <a href="/tech/{{ member.url }}">
                        <img src="{{member.image}}" alt="">
                        <div class="details">
                            <h4>{{member.name}}</h4>
                            <span>{{member.tech}}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- #portfolio -->
</main>
{% include "footer.html" %}
{% endblock %}