{% extends 'base.html'%}

{% block content %}

<p>
    inside quote.html
    This html files accepts in the quotes variable which is all the quotes


    so i need to add a link or someplace to choose a value of status and only show those.


</p>


{% set status = "OPEN" %}
{% set status1 = "ALL" %}
<div class="row">

    <ul class="collapsible" data-collapsible="accordion">
        {% for quote in quotes %}
        <!-- this is where we can sort by add_status -->
        <!-- {% if quote.quoteStatus ==status  %} -->
        {% if (quote.quoteStatus ==status) or (status1 =="ALL") %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <form action="{{url_for('delete_quote', quote_id=quote._id)}}" method="POST">
                        <button type="submit" class="waves-effect waves-light btn btn_small">Done</button>
                    </form>
                    <!-- Calls edit quote function passing in the unique quoteid -->
                    <a href="{{url_for('edit_quote', quote_id=quote._id)}}"
                        class="waves-effect waves-light btn btn_small blue">Edit Quote</a>
                </div>
                <div class="quote_header col s9">
                    <strong>{{quote.quoteStatus}}</strong>

                    {% if quote.quoteStatus ==status %}
                    <p>Priority: its open here too</p>
                    {% endif %}
                    <!-- outputs name and live date to screen -->
                    <strong>{{quote.name}}</strong> - {{quote.liveDate}}
                </div>
            </div>
            <!-- the brief is enclosed in a accordian  -->
            <div class="collapsible-body"><span>{{quote.brief}}</span></div>
        </li>

        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="row">
    {% if any_categories %}
    <a href="{{ url_for('add_quote') }}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add quote
    </a>
    {% endif %}
    <a href="{{ url_for('add_status') }}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Category
    </a>
</div>
{% endblock %}