<html>

<head>

</head>

<body>


    <p>
        inside quotes test file
    </p>
    <ul class="collapsible" data-collapsible="accordion">
        {% for quote in quotes %}

        <li>
            <div class="collapsible-header">
                <p>
                    in the list item
                </p>

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{quote.name}}</strong> - {{quote.quoteStatus}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{quote.quoteDetails}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>

</body>

</html>