{% extends 'base.html'%}
{% include "hero-backimage.html" %}
{% block content %}
<!--==========================
          View Quotes Section
 ============================-->
<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
                <h2 class="title">View your Quote #</h2>
                <form action="{{url_for('view_quote')}}" method="POST">
                    <div class=" form-group">
                        <span><i class="fa fa-hashtag formicon" alt="quoteid">
                                Please enter your Quote number so we can help you.</i>
                        </span>
                        <input id="quote_id" name="quote_id" type="number" class="form-control"
                            placeholder="Your Quote ID">
                    </div>
                    <button type=" submit" name="action" class="btn btn-info">Find My Quote </button>
                </form>
                <p class="section-description"> Here is what you sent us on your project. </p>
                <h5 class="title">Unique Quote #: </a></h5>
                <p class="description">{{quote.quoteId}}</p>
                <h5 class="title"> Quote status: </a></h5>
                <p class="description">{{quote.quoteStatus}}</p>
                <p class="description">{{quote.name}}</p>
                <p class="description">{{quote.email}}</p>
                <p class="description">{{quote.phone}}</p>
                <h5 class="title"> Level of Quality: </a></h5>
                <p class="description">{{quote.rankQuality}}</p>
                <h5 class="title">Expected time level: </a></h5>
                <p class="description">{{quote.rankTime}}</p>
                <h5 class="title"> Cost Sensitivity:</a></h5>
                <p class="description">{{quote.rankCost}}</p>
                <h5 class="title">Required level of quality: </a></h5>
                <p class="description">{{quote.quoteId}}</p>
                <h5 class="title">Scope of Work: </a></h5>
                <p class="description">{{quote.levelQuality}}</p>
                <h5 class="title">Expected Date for delivery:</a></h5>
                <p class="description">{{quote.expectedDate}}</p>
                <h5 class="title">LIVE date: </a></h5>
                <p class="description">{{quote.liveDate}}</p>
                <h5 class="title">Budget: </a></h5>
                <p class="description">{{quote.budget}}</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}